body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('heart.png'); /* Фон с сердечками */
    background-size: cover; /* Заполнение фона */
    position: relative;
    overflow: hidden;
    font-family: cursive; /* Установка шрифта Cursive для всего текста */
}

#question {
    font-size: 24px;
    text-align: center;
    z-index: 1;
    color: black; /* Черный цвет текста */
    text-shadow: 0 0 5px white; /* Белая обводка текста */
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    font-size: 16px;
    font-weight: bold; /* Жирный шрифт */
    color: white; /* Цвет текста кнопок */
}

#yes {
    background-color: #90ee90; /* Нежно-зеленый цвет */
}

#no {
    background-color: black; /* Черный цвет */
}
